Jinja2==3.1.2
aiofiles==23.1.0
alembic==1.11.1
asyncpg==0.27.0
dynaconf==3.1.12
fastapi==0.97.0
psycopg2-binary==2.9.6
requests==2.28.2

sqlmodel==0.0.8
uvicorn==0.22.0

# dev
httpx==0.24.1
debugpy==1.6.7
pytest==7.4.0
asgi-lifespan==2.1.0
trio==0.22.2
pytest-trio ==0.8.0